[flake8]
max-line-length = 79

exclude =
    .git,
    __pycache__,
    build,
    dist,
    *.pyc,
    *.egg-info,
    .eggs,
    .venv,
    venv

ignore =
    E226,
    F405

max-complexity = 10

statistics = True

count = True

show-source = True

format = %(path)s:%(row)d:%(col)d: %(code)s %(text)s

per-file-ignores =
    __init__.py:F401